<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuliang.lib" >

    <application>

        <activity android:name=".InstallActivity"
            android:launchMode="singleTop"/>

        <provider
            android:name="com.wuliang.lib.UtilsFileProvider"
            android:authorities="${applicationId}.utilcode.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths" />
        </provider>

    </application>

</manifest>
